body {
    margin: 0;
}

h1 {
    color: orange;
}

header {
    color: white;
    text-align: center;
    background-image: url("../doljikov-header-bg.jpg");
    padding: 0.1em;

}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
}

.container >* {
    flex: 1 1;
    margin: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em gray;
    padding: 1em;
}

.body {
    flex-basis: 50%;
    border: solid thin;

}

.resources {
    border-top-style: dashed;
}

.fun-facts {
    border: dotted thin;
}

footer {
    border-top-style: dashed;
    text-align: center;
    padding: 1em;
}

a, a:visited, a:active {
    color: blue;
}
