body {
    margin: 0;
}

h1 {
    color: orange;
}

header {
    color: white;
    text-align: center;
    background-image: url("../doljikov-header-bg.jpg");
    padding: 1.5em;
}

.body {
    margin: 2em;
}

.resources {
    border-top-style: dashed;
}

footer {
    border-top-style: dashed;
    text-align: center;
}

a, a:visited, a:active {
    color: blue;
}
